# npm
node_modules

# build
main.js
*.js.map

# obsidian
.obsidian/workspace*
.obsidian/plugins/*
!.obsidian/plugins/kk-neromind

# tests
coverage

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db